<% provide(:title, "ToDo List | " + @user.name)%>
<h1>Bienvenido <%= @user.name %></h1>
<ul>
<% @list.each do |item| %>
  <li>
    <input class="js-check-task" id="task_<%= item.id %>" type="checkbox"<% if item.completed? %> checked<% end %>><%= item.title %></input>
  </li>
<% end %>
</ul>
<button class="btn btn-primary js-add-task">Add Task</button>